#siteTitle {
  color: red;
  float:left;
}
li{
  display: inline;
}
ul{
  list-style-type:  none;
}
a{
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav {
  padding:10px;
  float: right;
  right:0;
  justify-content: right;
}

header{
  display: flex;
  position: sticky;
  background-color: white;
  top: 0;
}
