#siteTitle {
  color: green;
}
nav a{
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav {
  float : right;
  padding:10px;
  
}
h1{
  float : left;
}
header{
  display: flex;
  position: sticky;
  top: 0px;
}
